@font-face {
    font-family: "Proxima Nova";
    src: url(fonts/proximanova_regular.ttf) format('truetype')
}

html {
    background-color:#333333;
}

h1 {
    color:#CC76A1;
    font-family: "Proxima Nova";
    text-align: center;
}

h3 {
    color:#CC76A1;
    font-family: "Proxima Nova";
    text-align: center;
    text-decoration: none;
}

p {
    color:#e9f1f7;
}

img {
    width:20%;
    height:auto;
    margin-left:40%;
    margin-right: 40%;
}

.text {
    font-family: "Proxima Nova";
    color:#e9f1f7;
    text-align: center;
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
}

.text.flavor {
    font-style: italic;
}

.text.divider {
    color:#CC76A1;
}

.text.home {
    text-align: center;
}

.text.about {
    padding:1px;
}

.text.p {
    margin-left: 35%;
    margin-right: 35%;
}

a {
    color:#e9f1f7;
    text-decoration: none;
}

a.visited {
    color:#e9f1f7;
    text-decoration: none;
}

a h3 {
    text-decoration: none;
}

/* Nav bar */

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    display:inline-block;
    margin:0;
    padding:0;
    padding-bottom: 30px;
}

li {
    display:inline;
}

li a {
    text-decoration: none;
    font-family: "Proxima Nova";
    background-color: #457eac;
    color:#e9f1f7;
    text-align: center;
    border:2px solid #111;
    padding:15px 15px;
}

li a:visited {
    color:#e9f1f7;
}

li a:hover {
    background-color: #111;
}